## STEP-1

## IMPORT LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import os

## IMPORT DATA FRAME

In [2]:
path=r'C:\Users\Jatin\Documents\05-05-InstaCartBasketAnalysis'

In [3]:
ords_prods_merge=pd.read_pickle(os.path.join(path,'2 Data','Prepared Data','df_orders_products_merged_updated.pkl'))

In [5]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Most orders

In [6]:
ords_prods_merge.shape

(32404859, 18)

## STEP-2

In [7]:
# aggregate mean of 'order_number' column groupby 'department_id'
ords_prods_merge.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## STEP-3: 
## Mean of 'order_number' from the subset (1000000) is greater than the mean of entire data frame except 'department_id:17'

## STEP-4

In [8]:
#AGGREGATING DATA WITH TRANSFORM
#1. first a new column 'max_order' is created to store the maximum order number of each user.
#2. then the data frame is groupby 'user_id' column
#3. finally transform function is applied to 'order_number' column
ords_prods_merge['max_order']=ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [12]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22

In [21]:
# DERIVING COLUMNS WITH LOC
# if 'max_order' >40 then customers are 'loyal customer'
# if 'max_order' is <=40 and >10 then customers are 'regular customer'
# if 'max_order' <=10 then customers are 'new customer'

In [14]:
ords_prods_merge.loc[ords_prods_merge['max_order']>40,'loyalty_flag']='Loyal Customer'

In [15]:
ords_prods_merge.loc[(ords_prods_merge['max_order']<=40) & (ords_prods_merge['max_order']>10),'loyalty_flag']='Regular Customer'

In [16]:
ords_prods_merge.loc[ords_prods_merge['max_order']<=10,'loyalty_flag']='New Customer'

In [17]:
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

Regular Customer    15876776
Loyal Customer      10284093
New Customer         6243990
Name: loyalty_flag, dtype: int64

In [20]:
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Average orders,10,New Customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Average orders,10,New Customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Most orders,10,New Customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Average orders,10,New Customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Most orders,10,New Customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Average orders,10,New Customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10,New Customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10,New Customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10,New Customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Average orders,10,New Customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular Customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,22,Regular Customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,22,Regular Customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular Customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular Customer
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,9,New Customer
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,9,New Customer
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Average orders,9,New Customer
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Most orders,33,Regular Customer
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Average orders,20,Regular Customer

## STEP-5

In [31]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['min','max','mean','sum']})

                 prices
                    min      max       mean          sum
loyalty_flag
Loyal Customer      1.0  99999.0  10.386336  106814042.2
New Customer        1.0  99999.0  13.294670   83011787.2
Regular Customer    1.0  99999.0  12.495717  198391693.2

### The Loyal customers purchase on average cheaper products than new and regular customers.

## STEP-6

In [30]:
#first a new column'avg_price' is created to store average price of each user.
#then data frame is group by 'user_id'
# finally tranform function is applied to prices column
ords_prods_merge['avg_price']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [43]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,both,Mid range product,Regularly busy,Regular days,Average orders,10,New Customer,6.367797,Low Spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Slowest days,Average orders,10,New Customer,6.367797,Low Spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Slowest days,Most orders,10,New Customer,6.367797,Low Spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,both,Mid range product,Least busy,Slowest days,Average orders,10,New Customer,6.367797,Low Spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,both,Mid range product,Least busy,Slowest days,Most orders,10,New Customer,6.367797,Low Spender
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Regular days,Average orders,10,New Customer,6.367797,Low Spender
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797,Low Spender
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797,Low Spender
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797,Low Spender
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,9.0,both,Mid range product,Least busy,Slowest days,Average orders,10,New Customer,6.367797,Low Spender
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556,Low Spender
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,22,Regular Customer,3.980556,Low Spender
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Regular days,Most orders,22,Regular Customer,3.980556,Low Spender
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556,Low Spender
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556,Low Spender

In [ ]:
## creating a column 'spending_flag'to know 'low spender(<10)'and 'high spender(>=10)''

In [33]:
ords_prods_merge.loc[ords_prods_merge['avg_price']<10,'spending_flag']='Low Spender'

In [34]:
ords_prods_merge.loc[ords_prods_merge['avg_price']>=10,'spending_flag']='High Spender'

In [35]:
ords_prods_merge['spending_flag'].value_counts(dropna=False)

Low Spender     31770614
High Spender      634245
Name: spending_flag, dtype: int64

In [42]:
ords_prods_merge.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,both,Mid range product,Regularly busy,Regular days,Average orders,10,New Customer,6.367797,Low Spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Slowest days,Average orders,10,New Customer,6.367797,Low Spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Slowest days,Most orders,10,New Customer,6.367797,Low Spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,both,Mid range product,Least busy,Slowest days,Average orders,10,New Customer,6.367797,Low Spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,both,Mid range product,Least busy,Slowest days,Most orders,10,New Customer,6.367797,Low Spender
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Regular days,Average orders,10,New Customer,6.367797,Low Spender
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797,Low Spender
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797,Low Spender
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797,Low Spender
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,9.0,both,Mid range product,Least busy,Slowest days,Average orders,10,New Customer,6.367797,Low Spender

## STEP-7

In [50]:
ords_prods_merge['median_frequency']=ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

In [51]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_frequency
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,both,Mid range product,Regularly busy,Regular days,Average orders,10,New Customer,6.367797,Low Spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,both,Mid range product,Regularly busy,Slowest days,Average orders,10,New Customer,6.367797,Low Spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Mid range product,Regularly busy,Slowest days,Most orders,10,New Customer,6.367797,Low Spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,both,Mid range product,Least busy,Slowest days,Average orders,10,New Customer,6.367797,Low Spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Mid range product,Least busy,Slowest days,Most orders,10,New Customer,6.367797,Low Spender,20.5

In [52]:
ords_prods_merge.loc[ords_prods_merge['median_frequency']>20,'customer']='Non frequent customer'

In [57]:
ords_prods_merge.loc[(ords_prods_merge['median_frequency']>10) & (ords_prods_merge['median_frequency']<=20),'customer']='Regular customer'

In [58]:
ords_prods_merge.loc[ords_prods_merge['median_frequency']<=10,'customer']='Frequent customer'

In [59]:
ords_prods_merge['customer'].value_counts(dropna=False)

Frequent customer        21559853
Regular customer          7208564
Non frequent customer     3636437
NaN                             5
Name: customer, dtype: int64

In [61]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_frequency,customer
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid range product,Regularly busy,Regular days,Average orders,10,New Customer,6.367797,Low Spender,20.5,Non frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid range product,Regularly busy,Slowest days,Average orders,10,New Customer,6.367797,Low Spender,20.5,Non frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid range product,Regularly busy,Slowest days,Most orders,10,New Customer,6.367797,Low Spender,20.5,Non frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid range product,Least busy,Slowest days,Average orders,10,New Customer,6.367797,Low Spender,20.5,Non frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid range product,Least busy,Slowest days,Most orders,10,New Customer,6.367797,Low Spender,20.5,Non frequent customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,Mid range product,Regularly busy,Regular days,Average orders,10,New Customer,6.367797,Low Spender,20.5,Non frequent customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,Mid range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797,Low Spender,20.5,Non frequent customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,Mid range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797,Low Spender,20.5,Non frequent customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,Mid range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797,Low Spender,20.5,Non frequent customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,Mid range product,Least busy,Slowest days,Average orders,10,New Customer,6.367797,Low Spender,20.5,Non frequent customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556,Low Spender,10.0,Frequent customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,Mid range product,Regularly busy,Regular days,Most orders,22,Regular Customer,3.980556,Low Spender,10.0,Frequent customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,Mid range product,Regularly busy,Regular days,Most orders,22,Regular Customer,3.980556,Low Spender,10.0,Frequent customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556,Low Spender,10.0,Frequent customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556,Low Spender,10.0,Frequent customer

## STEP-9

In [62]:
ords_prods_merge.to_pickle(os.path.join(path,'2 Data','Prepared Data','df_orders_products_merged_updated_2.pkl'))